/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 2% 10%;
  width: 80%;
  height: 200vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#121212),
    to(#4f76ff)
  );
  background: linear-gradient(to bottom, #121212, #4f76ff);
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 40px;
}

.main-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 280px;
  width: 280px;
}

.main-cover__pic1 {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.main-cover__pic2 {
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 2;
}

.main-text {
  color: white;
  width: 300px;
  min-height: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-text h1 {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 5px;
}

.main-text h2 {
  font-size: 28px;
  padding-bottom: 20px;
}

.main-text a {
  display: block;
  margin-bottom: 50px;
}

.main-text p {
  font-size: x-large;
}

.main-text p img {
  padding-right: 5px;
}

.main-active {
  width: 380px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-active__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-active__btn li {
  margin-right: 20px;
}

.main-active__cart {
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: white;
  font-size: x-large;
}

.main-active__cart li {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-active__cart li button {
  width: 150px;
  border-radius: 75px;
  font-size: large;
  color: white;
  background-color: #959595;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar__link {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navbar__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding-bottom: 3px;
  margin-left: 1rem;
  color: white;
  border-bottom: 1px solid white transparent;
}

.navbar__link a:hover {
  border-bottom: 1px solid white;
}

.info {
  display: inline-block;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  color: white;
  width: 80%;
}

.info > section {
  margin-bottom: 40px;
}

.info h3 {
  font-size: 24px;
}

.info hr {
  margin: 10px 0;
  width: 90%;
}

.info p {
  line-height: 1.5rem;
}

.info-comments-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  height: 0vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.info-comments-board > hr {
  width: 90%;
  margin: 0;
}

.info-comments-board__input,
.info-comments-board__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: 0;
}

.info-comments-board__input button,
.info-comments-board__message button {
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 20px;
  color: white;
  border: none;
  -webkit-box-shadow: 1px 2px 5px #474747;
  box-shadow: 1px 2px 5px #474747;
}

.info-comments-board__input__text {
  margin-left: 20px;
}

.info-comments-board__input__text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-comments-board__input__text input {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px solid #474747;
  cursor: text;
  border-radius: 5px;
}

.info-comments-board__input__submit {
  margin-left: 20px;
}

.info-comments-board__message__text {
  margin-left: 20px;
}

.info-comments-board__message__text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-comments-board__message__text p {
  width: 300px;
  height: 50px;
}

.command {
  position: absolute;
  display: inline-block;
  color: white;
  width: 10%;
}

.command h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.command-block {
  margin-bottom: 10px;
  width: 200px;
  height: 250px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.command-block img {
  border-radius: 10px;
  width: 160px;
  height: 160px;
  position: relative;
}

.command-block a > img {
  width: 30px;
  height: 30px;
}

.command-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.command-block__text span {
  width: 120px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  line-height: 20px;
}

.command-block__text span h4 {
  font-weight: bold;
}
/*# sourceMappingURL=page.style.css.map */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.music-player__container {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #c1c1c1;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  position: fixed;
  padding: 20px 30px;
  margin: 0;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

// 光碟會跑版:)
.music-player__img-container {
  position: relative;
  width: 110px;
}

.music-player__img-container::after {
  content: '';
  background-color: #c1c1c1;
  box-shadow: 0 20px 20px 0 rgba(250, 246, 246, 0.6);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-35%, -50%);
}

.music-player__img-container img {
  /* inherit 繼承父層屬性，此處為繼承父層寬度 */
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
  animation: rotate 4.5s linear infinite;
  animation-play-state: paused;
}

.music-player__container.play .musice-player__img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.music-player__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.music-player__action-btn-prev {
  // transparent background透明
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 25px;
}

.music-player__action-btn__action-btn-big {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-next {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-random {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-loop {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__progress-container {
  background: #797979;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 10px;
  height: 4px;
  width: 100%;
}

.music-player__progress {
  background-color: #ed4444;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.music-player__info {
  background-color: #c1c1c1(255, 255, 255, 0.5);
  color: #191719;
  text-align: left;
  top: 0;
  width: 100%;
  padding: 10px 10px 10px 0px;
  opacity: 1;
  z-index: 0;

  h4 {
    margin: 0px;
  }
}

.music-player__action-btn-list {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.aside-trigger {
  position: fixed;
  z-index: 100;
  display: flex;
  top: 20px;
  right: 40px;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.aside-trigger span {
  /* absolute會找上一個position作相對 */
  z-index: 100;
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: #9599e2;
  transition: margin-top 300ms, transform 300ms;
  opacity: 0;
}

.aside-trigger span:nth-child(1) {
  margin-top: 20px;
  width: 50%;
}

.aside-trigger span:nth-child(3) {
  margin-top: -20px;
  width: 50%;
}

.aside-trigger.active span:nth-child(1) {
  /* margin-top:0;  讓(3)與(1)重合 */
  margin-top: 0;
  transform: rotate(225deg);
}

.aside-trigger.active span:nth-child(2) {
  transform: rotate(315deg);
}

.aside-trigger.active span:nth-child(3) {
  margin-top: 0;
  transform: rotate(135deg);
}

.aside {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-top: 100px;
  height: 200px;
  width: 100vw;

  background-color: #ffffff;
  transition: right 300ms;
  transform: translate(0.1) 300ms;
}

.aside a {
  display: block;
  font-size: 24px;
  padding: 20px;
  color: black;
  background-color: inherit;
  z-index: 10;
  position: relative;
  text-decoration: none;
  transition: color 300ms;
}

.aside a::before {
  position: absolute;
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: rgb(50, 50, 50);
  content: '';
  bottom: 15px;
  left: 0.5;
  transition: width 300ms;
}

.aside a:hover::before {
  width: 45%;
}
.aside.active {
  right: 0;
  translate: (1);
}
