.navbar{
	display:flex;
	align-items: center;
	justify-content: space-between;
	min-width: 90%;
	padding:8px 5%;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;


>ul{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

>ul>li{
	padding:5px 20px;
}

>ul>li>a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}

}

.datalist{
	padding:48 px;
}
