main{
	display: flex;
	width: 80%;
	height: 100vh;
	margin: 25px 10% ;
	font-size: 36px;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-image: url("../image/background_image/BC LOGO.svg");
	background-repeat: no-repeat;


}

.main__title{
	width: 80%;
	height: 100%;
	text-align: start;
	justify-content: center;

}
h1{
	line-height: 60px;
	font-size: 48px;
	font-weight: bold;
}

.main__article{

	width: 100%;
	height: 800px;
	margin: 25px;
	font-size: 24px;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;

}
