body{
	font-family: 'Noto Serif TC', serif;
	background-color: #121212;
	color: white;
	text-align: center;
	transition: background .5s linear;
}
html {
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: white;
}

// FDDE3C
