.movedot{
	display: flex;
	position: fixed;
	align-items: center;
	flex-direction: column;
	color: white;
	padding: 24px;
	margin: 80px;
	bottom:  200px;
	text-decoration:none;
	z-index: 100;
}

.dot{
	height: 25px;
  width: 25px;
  background-color: #c1c1c1;
  border-radius: 50%;
  display: inline-block;
	margin:12px ;
}

.section{
	display: none;
}

.aside__goTop{
	position: fixed;
	display: block;
	width: 120px;
	height:120px;
	right: 3%;
	bottom: 15%;
	z-index: 50;


	.tooltip{
		width: 120px;
		height: 120px;
		z-index: 100;
		background-color: aqua;

	}

}
