@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

img[src*='logo'] {
  width: 47.8px;
  height: 47.8px;
}

.navbar {
  position: fixed;
  z-index: 0;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid red;*/
}

@media screen and (min-width: 1194px) {
  .navbar {
    width: 86.2%;
  }
}

@media screen and (max-width: 1194px) and (min-width: 428px) {
  .navbar {
    width: 92%;
  }
}

@media screen and (max-width: 428px) {
  .navbar {
    width: 88.8%;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 169px;
  height: 27.25px;
  border-radius: 50px;
}

@media screen and (min-width: 1194px) {
  .navbar__search {
    border: 1px solid #ffffff;
  }
  .navbar__search input {
    width: 110px;
  }
}

@media screen and (max-width: 1194px) {
  .navbar__search {
    border-style: none;
  }
  .navbar__search input {
    width: 96px;
  }
  .navbar__search::after {
    position: relative;
    top: 25px;
    left: -95px;
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    padding-right: 96px;
    height: 2px;
    background-color: #ffffff;
  }
}

.navbar__search img {
  height: 26.25px;
  margin-left: 10px;
  margin-right: 4px;
}

.navbar__search > span {
  position: relative;
  top: 3px;
  height: 20px;
  width: 1px;
  background-color: #777777;
  margin-right: 8px;
}

.navbar__search input {
  position: relative;
  top: 1.5px;
  height: 23.5px;
  background-color: rgba(239, 233, 233, 0);
  color: #ffffff;
  outline: none;
}

.navbar__list a {
  font-size: 24px;
  margin-left: 52px;
}

.navbar__list li:nth-of-type(1)::after {
  position: relative;
  top: 10px;
  left: 55px;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__list li:nth-of-type(2):hover::after,
.navbar__list li:nth-of-type(3):hover::after,
.navbar__list li:nth-of-type(4):hover::after {
  position: relative;
  top: 10px;
  left: 55px;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__list li:nth-of-type(5):hover::after {
  position: relative;
  top: 10px;
  left: 50px;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__button {
  position: fixed;
  top: 66px;
  right: -100%;
  z-index: 10;
  display: none;
  width: 32px;
  height: 24px;
  cursor: pointer;
}

.navbar__button__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__button__lines li {
  width: 32px;
  height: 2.44px;
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 30px;
}

.navbar__button__lines li:nth-of-type(1) {
  width: 32px;
  -webkit-transition: margin-top 500ms, -webkit-transform 500ms;
  transition: margin-top 500ms, -webkit-transform 500ms;
  transition: transform 500ms, margin-top 500ms;
  transition: transform 500ms, margin-top 500ms, -webkit-transform 500ms;
}

.navbar__button__lines li:nth-of-type(2) {
  width: 28px;
  -webkit-transition: margin-top 400ms, width 400ms, -webkit-transform 400ms;
  transition: margin-top 400ms, width 400ms, -webkit-transform 400ms;
  transition: transform 400ms, margin-top 400ms, width 400ms;
  transition: transform 400ms, margin-top 400ms, width 400ms, -webkit-transform 400ms;
}

.navbar__button__lines li:nth-of-type(3) {
  width: 22px;
  -webkit-transition: margin-top 300ms, width 300ms, height 300ms, -webkit-transform 300ms;
  transition: margin-top 300ms, width 300ms, height 300ms, -webkit-transform 300ms;
  transition: transform 300ms, margin-top 300ms, width 300ms, height 300ms;
  transition: transform 300ms, margin-top 300ms, width 300ms, height 300ms, -webkit-transform 300ms;
}

@media screen and (max-width: 1000px) {
  img[src*='logo'] {
    height: 72px;
  }
  .navbar {
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*border: 1px solid red;*/
  }
  .navbar__list {
    display: none;
  }
  .navbar__button {
    right: 4%;
    display: block;
  }
  .navbar__button.active .navbar__button__lines li:nth-of-type(1) {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-top: 10px;
  }
  .navbar__button.active .navbar__button__lines li:nth-of-type(2) {
    width: 32px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-top: -9px;
  }
  .navbar__button.active .navbar__button__lines li:nth-of-type(2) {
    width: 32px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-top: -10px;
  }
  .navbar__button.active .navbar__button__lines li:nth-of-type(3) {
    height: 3.44px;
    width: 32px;
    -webkit-transform: rotateZ(135deg);
            transform: rotateZ(135deg);
    margin-top: -11px;
  }
}

@media screen and (max-width: 428px) {
  .navbar__button {
    right: 5.6%;
  }
}

.list__aside {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #121212;
}

.list__aside a {
  font-size: 1.5rem;
}

.list__aside.active {
  display: block;
}

.list__aside div {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 69px;
}

.list__aside div > img {
  margin-bottom: 38px;
}

.list__aside div p {
  margin-bottom: 24px;
}

.aside__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__search img {
  cursor: pointer;
}

.aside__search input {
  /*display: none;*/
  width: 0px;
  margin-left: 8px;
  -webkit-transition: width 700ms;
  transition: width 700ms;
}

.aside__search input.active {
  /*display: flex;*/
  width: 110px;
}

header {
  z-index: 0px;
  height: 1000px;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.button__position {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 25%;
  left: 45%;
}

@media screen and (max-width: 1080px) {
  .button__position {
    left: 30%;
  }
}

#carouselExampleFade {
  width: 100vh;
  height: 100vh;
  position: absolute;
  right: 0%;
  top: 250px;
  z-index: 0;
}

.colorChange__text {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  width: 200px;
  left: 40%;
  z-index: 100;
  bottom: 11%;
  font-size: 48px;
  color: white;
}

.span__leftarrow {
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 100px;
  left: 0px;
  margin-right: 20px;
  z-index: 100px;
  padding: 100px;
  color: aliceblue;
}

.carousel-control-prev-icon {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0%;
  max-height: 600px;
}

.carousel-control-next-icon {
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 0%;
  max-height: 300px;
}

.carousel-control-prev {
  height: 920px;
}

.carousel-control-next {
  height: 920px;
}

.carousel-indicators {
  bottom: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 100px 0;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../image/background_image/BC LOGO.svg");
  background-repeat: no-repeat;
}

.main__title {
  width: 80%;
  height: 100%;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__title > h1 {
  line-height: 60px;
  font-size: 48px;
  font-weight: bold;
  margin: 50px;
}

.main__title > h2 {
  margin: 50px;
}

.main__article {
  width: 100%;
  height: 800px;
  margin: 25px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

marquee {
  background-image: url("../image/background_image/Wave.Line.svg");
  background-repeat: no-repeat;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 25 0px;
}

marquee > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

marquee > li {
  margin: 10px;
}

marquee > img {
  width: 300px;
}

.recommend__music {
  background-image: url("../image/background_image/waveline.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 8% 0;
}

.recommend {
  width: 1920px;
  height: 320px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend > ul {
  background-color: none;
  left: 0%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.recommend > ul > li {
  margin: 10px;
}

.recommend > ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes picmove {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-750px);
            transform: translate(-750px);
  }
}

@keyframes picmove {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-750px);
            transform: translate(-750px);
  }
}

.recommend__beat {
  z-index: 100px;
  -webkit-transform: translate(-150px);
          transform: translate(-150px);
  overflow: hidden;
}

.recommend__vocal {
  z-index: 100px;
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
}

.recommend__effects {
  z-index: 100px;
  -webkit-transform: translate(-180px);
          transform: translate(-180px);
}

.recommend__text {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  position: absolute;
  right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.QA {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  background-image: url("../image/background_image/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.QA > h1 {
  font-size: 48px;
  font-weight: bold;
  padding: 100px 0px 80px 0px;
}

.drawler_outer {
  border: 1px solid #ffffff;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

.drawler_title {
  cursor: pointer;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.drawler_content {
  overflow: hidden;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  height: 0;
}

.drawler_contentHeight {
  border-top: 1px solid;
}

.QA__span {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform .2 ease;
  transition: -webkit-transform .2 ease;
  transition: transform .2 ease;
  transition: transform .2 ease, -webkit-transform .2 ease;
}

span:last-of-type {
  -webkit-transform: rotate(90deg) translate(-2px);
          transform: rotate(90deg) translate(-2px);
}

.collapse__T-box.active .collapse__icon span:first-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.collapse__T-box.active .collapse__icon span:last-of-type {
  -webkit-transform: rotate(0) translateY(-2px);
          transform: rotate(0) translateY(-2px);
}

@media screen and (max-width: 1280px) {
  .QA > h1 {
    padding: 50px;
  }
  .drawler_outer {
    margin-bottom: 20px;
  }
}

.contect {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 200px;
  padding: 120px;
}

.contect > a {
  padding: 12px;
}

.contect > div {
  padding: 24px;
}

@media screen and (max-width: 1280) {
  .contect {
    height: 100px;
    padding: 60px;
  }
  .contect > a {
    padding: 0px;
  }
  .contect > div {
    padding: 0px;
    margin: 24px;
  }
}

.movedot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 24px;
  margin: 80px;
  bottom: 200px;
  text-decoration: none;
  z-index: 100;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #c1c1c1;
  border-radius: 50%;
  display: inline-block;
  margin: 12px;
}

.section {
  display: none;
}

.aside__goTop {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  right: 3%;
  bottom: 15%;
  z-index: 50;
}

.aside__goTop .tooltip {
  width: 120px;
  height: 120px;
  z-index: 100;
  background-color: aqua;
}

.music-player__container {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #c1c1c1;
  -webkit-box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
          box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding: 20px 30px;
  margin: 0;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

.music-player__img-container {
  position: relative;
  width: 110px;
}

.music-player__img-container::after {
  content: '';
  background-color: #c1c1c1;
  -webkit-box-shadow: 0 20px 20px 0 rgba(250, 246, 246, 0.6);
          box-shadow: 0 20px 20px 0 rgba(250, 246, 246, 0.6);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}

.music-player__img-container img {
  /* inherit 繼承父層屬性，此處為繼承父層寬度 */
  width: inherit;
  height: 110px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-animation: rotate 4.5s linear infinite;
          animation: rotate 4.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.music-player__container.play .musice-player__img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.music-player__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  z-index: 1;
}

.music-player__action-btn-prev {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 25px;
}

.music-player__action-btn__action-btn-big {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-next {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-random {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-loop {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__progress-container {
  background: #797979;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 10px;
  height: 4px;
  width: 100%;
}

.music-player__progress {
  background-color: #ed4444;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.music-player__info {
  background-color: #c1c1c1 255, 255, 255, 0.5;
  color: #191719;
  text-align: left;
  top: 0;
  width: 100%;
  padding: 10px 10px 10px 0px;
  opacity: 1;
  z-index: 0;
}

.music-player__info h4 {
  margin: 0px;
}

.music-player__action-btn-list {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.aside-trigger {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.aside-trigger span {
  /* absolute會找上一個position作相對 */
  z-index: 100;
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: #9599e2;
  -webkit-transition: margin-top 300ms, -webkit-transform 300ms;
  transition: margin-top 300ms, -webkit-transform 300ms;
  transition: margin-top 300ms, transform 300ms;
  transition: margin-top 300ms, transform 300ms, -webkit-transform 300ms;
  opacity: 0;
}

.aside-trigger span:nth-child(1) {
  margin-top: 20px;
  width: 50%;
}

.aside-trigger span:nth-child(3) {
  margin-top: -20px;
  width: 50%;
}

.aside-trigger.active span:nth-child(1) {
  /* margin-top:0;  讓(3)與(1)重合 */
  margin-top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.aside-trigger.active span:nth-child(2) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.aside-trigger.active span:nth-child(3) {
  margin-top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.aside {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-top: 100px;
  height: 200px;
  width: 100vw;
  background-color: #ffffff;
  -webkit-transition: right 300ms;
  transition: right 300ms;
  -webkit-transform: translate(0.1) 300ms;
          transform: translate(0.1) 300ms;
}

.aside a {
  display: block;
  font-size: 24px;
  padding: 20px;
  color: black;
  background-color: inherit;
  z-index: 10;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.aside a::before {
  position: absolute;
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: #323232;
  content: '';
  bottom: 15px;
  left: 0.5;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}

.aside a:hover::before {
  width: 45%;
}

.aside.active {
  right: 0;
  translate: 1;
}
/*# sourceMappingURL=style.css.map */