@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Noto Serif TC', serif;
  background-color: #121212;
  color: white;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 90%;
  padding: 8px 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar > ul > li {
  padding: 5px 20px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

header {
  z-index: 0px;
  margin: 50px 0px;
  height: 1000px;
  width: 100%;
}

#carouselExampleFade {
  width: 100vh;
  height: 100vh;
  position: absolute;
  right: 0%;
  top: 250px;
  z-index: 0;
}

.colorChange__text {
  font-family: 'Roboto', sans-serif;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  right: 0px;
  z-index: 100;
  top: 400px;
  font-size: 48px;
  color: white;
}

.span__leftarrow {
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 100px;
  left: 0px;
  margin-right: 20px;
  z-index: 100px;
  padding: 100px;
  color: aliceblue;
}

.carousel-control-prev-icon {
  position: absolute;
  top: 350px;
  left: 0%;
  max-height: 600px;
}

.carousel-control-next-icon {
  position: absolute;
  top: 350px;
  right: 0%;
  max-height: 300px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 25px 10%;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  top: 0px;
}

h1 {
  line-height: 40px;
}

article {
  width: 100%;
  height: 800px;
  margin: 25px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
}

.marquee {
  background-image: url("../image/background_image/bg-recommend.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100vw;
  margin: 25px;
}

canvas > nav {
  width: 750px;
  height: 170px;
  border: 1px solid red;
  margin: 100px auto;
}

canvas > nav > ul {
  width: 200%;
  height: 100%;
}

canvas > nav > ul > li {
  width: 100%;
  height: 100vh;
}

canvas > nav > ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.QA {
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #c1c1c1;
  background-image: url("../image/background_image/bg-QA.svg");
  background-repeat: no-repeat;
  background-position: bottom 50%;
  background-size: cover;
  height: 100vh;
}

.QA > h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 100px 0px 80px 0px;
}

.drawler_outer {
  border: 1px solid #ffffff;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

.drawler_title {
  cursor: pointer;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.drawler_content {
  overflow: hidden;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  height: 0;
}

.drawler_contentHeight {
  border-top: 1px solid;
}

span {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform .2 ease;
  transition: -webkit-transform .2 ease;
  transition: transform .2 ease;
  transition: transform .2 ease, -webkit-transform .2 ease;
}

span:last-of-type {
  -webkit-transform: rotate(90deg) translate(-2px);
          transform: rotate(90deg) translate(-2px);
}

.collapse__T-box.active .collapse__icon span:first-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.collapse__T-box.active .collapse__icon span:last-of-type {
  -webkit-transform: rotate(0) translateY(-2px);
          transform: rotate(0) translateY(-2px);
}

@media screen and (max-width: 1280px) {
  .QA > h1 {
    padding: 50px;
  }
  .drawler_outer {
    margin-bottom: 20px;
  }
}

.contect {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 200px;
  padding: 120px;
}

.contect > a {
  padding: 12px;
}

.contect > div {
  padding: 24px;
}

@media screen and (max-width: 1280) {
  .contect {
    height: 100px;
    padding: 60px;
  }
  .contect > a {
    padding: 0px;
  }
  .contect > div {
    padding: 0px;
    margin: 24px;
  }
}

.music-player__container {
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #c1c1c1;
  -webkit-box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
          box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding: 20px 30px;
  margin: 0;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

.music-player__img-container {
  position: relative;
  width: 110px;
}

.music-player__img-container::after {
  content: '';
  background-color: #c1c1c1;
  -webkit-box-shadow: 0 20px 20px 0 rgba(250, 246, 246, 0.6);
          box-shadow: 0 20px 20px 0 rgba(250, 246, 246, 0.6);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}

.music-player__img-container img {
  /* inherit 繼承父層屬性，此處為繼承父層寬度 */
  width: inherit;
  height: 110px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-animation: rotate 4.5s linear infinite;
          animation: rotate 4.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.music-player__container.play .musice-player__img-container img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.music-player__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  z-index: 1;
}

.music-player__action-btn-prev {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 25px;
}

.music-player__action-btn__action-btn-big {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-next {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-random {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__action-btn-loop {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.music-player__progress-container {
  background: #797979;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 10px;
  height: 4px;
  width: 100%;
}

.music-player__progress {
  background-color: #ed4444;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.music-player__info {
  background-color: #c1c1c1 255, 255, 255, 0.5;
  color: #191719;
  text-align: left;
  top: 0;
  width: 100%;
  padding: 10px 10px 10px 0px;
  opacity: 1;
  z-index: 0;
}

.music-player__info h4 {
  margin: 0px;
}

.music-player__action-btn-list {
  background-color: transparent;
  border: 0;
  color: #191719;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.aside-trigger {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.aside-trigger span {
  /* absolute會找上一個position作相對 */
  z-index: 100;
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: #9599e2;
  -webkit-transition: margin-top 300ms, -webkit-transform 300ms;
  transition: margin-top 300ms, -webkit-transform 300ms;
  transition: margin-top 300ms, transform 300ms;
  transition: margin-top 300ms, transform 300ms, -webkit-transform 300ms;
  opacity: 0;
}

.aside-trigger span:nth-child(1) {
  margin-top: 20px;
  width: 50%;
}

.aside-trigger span:nth-child(3) {
  margin-top: -20px;
  width: 50%;
}

.aside-trigger.active span:nth-child(1) {
  /* margin-top:0;  讓(3)與(1)重合 */
  margin-top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.aside-trigger.active span:nth-child(2) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.aside-trigger.active span:nth-child(3) {
  margin-top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.aside {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-top: 100px;
  height: 200px;
  width: 100vw;
  background-color: #ffffff;
  -webkit-transition: right 300ms;
  transition: right 300ms;
  -webkit-transform: translate(0.1) 300ms;
          transform: translate(0.1) 300ms;
}

.aside a {
  display: block;
  font-size: 24px;
  padding: 20px;
  color: black;
  background-color: inherit;
  z-index: 10;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.aside a::before {
  position: absolute;
  display: block;
  width: 0%;
  height: 1.5px;
  background-color: #323232;
  content: '';
  bottom: 15px;
  left: 0.5;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}

.aside a:hover::before {
  width: 45%;
}

.aside.active {
  right: 0;
  translate: 1;
}
/*# sourceMappingURL=style.css.map */